@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);

@grey: #f0f0f0;
@shadow: rgba(0,0,0,0.165);
@highlight: #55beeb;
@bg-col: #333;

@elem-width: 310px;
@elem-height: 38px;
@blue: #0099cc;
@grey: #f1f1f1;
@text: #525150;
@input-border: 2px solid @blue;
@roboto: "Roboto", sans-serif;
@hover-width: 230px;

.transition (@value1,@value2:X,...) {
    @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;
    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.animation (...) {
  -webkit-animation: @arguments;  
     -moz-animation: @arguments;
      -ms-animation: @arguments;
       -o-animation: @arguments;
          animation: @arguments;
}

// -- Codepen related --
body {
  padding: 0 0 3em;
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  line-height: 1;
  background: @bg-col;
}

.pen {
	max-width: 1392px;
	height: 754px;
	margin: 0 auto;
	background: url(img/background.jpg) center 0 no-repeat;
	background-size: auto;
	position: relative;

	img {margin-left: 15px;}
}

.credit {
	display: block;
	max-width: 400px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	font-size: 0.8em;
	color: @grey;
	text-shadow: 0 1px 0 rgba(0,0,0,0.9);

	p a,
	a {
		color: white;
		text-decoration: none;
		font-weight: 700;

		&:hover,
		&:active {
			text-shadow: 0 0 5px rgba(255,255,255,0.4);
			color: white;
		}

		&.button {
			padding: 6px 12px;
			margin-top: 10px;
			background: darken(@bg-col, 10%);
			border-radius: 3px;

			&:hover {background: lighten(@bg-col, 10%);}
		}
	}

	p:last-of-type {margin-bottom: 30px;}
}

// Pen-related
* {-moz-box-sizing: border-box; box-sizing: border-box;}

.wa-input-container {
	background: @grey;
	width: @elem-width;
	font-family: @roboto;
	position: relative;
	margin: 0 auto;
	height: 48px;
	top: 390px;
	height: @elem-height;

	.wa-input {
		border-bottom: @input-border;
		width: 228px;
		margin: 0 auto;
		height: 33px;
		position: relative;
		line-height: 2;
		z-index: 1;
		padding: 0 10px;
		border-right: 0;
		display: block;
		border-top: 0;
		border-left: 0;

		input[type=text] {
			border:0;
			width:100%;
			display: block;
			height: 100%;
			font-size: 15px;
			font-family: @roboto;
			font-weight: 300;
			background-color: transparent;

			&:focus {outline: 0;}
		}

		&:before,
		&:after {
			height: 4px;
			border-left: @input-border;
			position: absolute;
			content:'';
			display: block;
			bottom: 0;
		}
		
		&:before { left: 0; }
		&:after { right: 0; }

	}

	.speech-container {
		display: block;
		position: absolute;
		height: 38px;
		background: @grey;
		z-index: 2;
		width: @hover-width;
		right: -@hover-width;
		.transition(right 500ms);

		.time {
			font-family: @roboto;
			font-size: 24px;
			position: absolute;
			height: inherit;
			padding: 0 3px;
			color: @text;
			line-height: @elem-height;
			background: @grey;
		}

		.swipe-to-cancel {
			display: block;
			position: absolute;
			background: @grey;
			width: 176px;
			left: 55px;
			background-repeat: no-repeat;
			background-position: 150px;
			background-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 75%, rgba(255,255,255,0) 100%);
			background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(25%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(75%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
			background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
			background-image: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
			background-image: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
			background-image: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
			height:inherit;
			.animation(swipe 2s infinite);

			&:before {
				display: block;
				text-transform: uppercase;
				content: 'Swipe to cancel';
				top: 13px;
				color: @text;
				font-size: 12px;
				font-weight: 300;
				position: relative;
				text-align: center;
			}
		}
	}

	.ptt-icon {
		height: 19px;
		width: 20px;
		position: absolute;
		cursor: pointer;
		
		&.record-right {
			top: 10px;
			right: 10px;
		}

		&.emoticon {
			top: 10px;
			left: 10px;
		}

		svg {
			height: inherit;
			width: inherit;
			.record-icon {
				fill: #858583;
			}
		}
	}
}

@keyframes swipe {from { background-position: 150px;} to { background-position: -150px;}}
@-webkit-keyframes swipe {from { background-position: 150px;} to { background-position: -150px;}}
@-moz-keyframes swipe {from { background-position: 150px;} to { background-position: -150px;}}