@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);
body {
  padding: 0 0 3em;
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  line-height: 1;
  background: #333333;
}
.pen {
  max-width: 1392px;
  height: 754px;
  margin: 0 auto;
  background: url(img/background.jpg) center 0 no-repeat;
  background-size: auto;
  position: relative;
}
.pen img {
  margin-left: 15px;
}
.credit {
  display: block;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-size: 0.8em;
  color: #f1f1f1;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
}
.credit p a,
.credit a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.credit p a:hover,
.credit a:hover,
.credit p a:active,
.credit a:active {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  color: white;
}
.credit p a.button,
.credit a.button {
  padding: 6px 12px;
  margin-top: 10px;
  background: #1a1a1a;
  border-radius: 3px;
}
.credit p a.button:hover,
.credit a.button:hover {
  background: #4d4d4d;
}
.credit p:last-of-type {
  margin-bottom: 30px;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wa-input-container {
  background: #f1f1f1;
  width: 310px;
  font-family: "Roboto", sans-serif;
  position: relative;
  margin: 0 auto;
  height: 48px;
  top: 390px;
  height: 38px;
}
.wa-input-container .wa-input {
  border-bottom: 2px solid #0099cc;
  width: 228px;
  margin: 0 auto;
  height: 33px;
  position: relative;
  line-height: 2;
  z-index: 1;
  padding: 0 10px;
  border-right: 0;
  display: block;
  border-top: 0;
  border-left: 0;
}
.wa-input-container .wa-input input[type=text] {
  border: 0;
  width: 100%;
  display: block;
  height: 100%;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: transparent;
}
.wa-input-container .wa-input input[type=text]:focus {
  outline: 0;
}
.wa-input-container .wa-input:before,
.wa-input-container .wa-input:after {
  height: 4px;
  border-left: 2px solid #0099cc;
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
}
.wa-input-container .wa-input:before {
  left: 0;
}
.wa-input-container .wa-input:after {
  right: 0;
}
.wa-input-container .speech-container {
  display: block;
  position: absolute;
  height: 38px;
  background: #f1f1f1;
  z-index: 2;
  width: 230px;
  right: -230px;
  -webkit-transition: right 500ms;
  -moz-transition: right 500ms;
  -ms-transition: right 500ms;
  -o-transition: right 500ms;
  transition: right 500ms;
}
.wa-input-container .speech-container .time {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  position: absolute;
  height: inherit;
  padding: 0 3px;
  color: #525150;
  line-height: 38px;
  background: #f1f1f1;
}
.wa-input-container .speech-container .swipe-to-cancel {
  display: block;
  position: absolute;
  background: #f1f1f1;
  width: 176px;
  left: 55px;
  background-repeat: no-repeat;
  background-position: 150px;
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, #ffffff 50%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0)), color-stop(50%, #ffffff), color-stop(75%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, #ffffff 50%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, #ffffff 50%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, #ffffff 50%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, #ffffff 50%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
  height: inherit;
  -webkit-animation: swipe 2s infinite;
  -moz-animation: swipe 2s infinite;
  -ms-animation: swipe 2s infinite;
  -o-animation: swipe 2s infinite;
  animation: swipe 2s infinite;
}
.wa-input-container .speech-container .swipe-to-cancel:before {
  display: block;
  text-transform: uppercase;
  content: 'Swipe to cancel';
  top: 13px;
  color: #525150;
  font-size: 12px;
  font-weight: 300;
  position: relative;
  text-align: center;
}
.wa-input-container .ptt-icon {
  height: 19px;
  width: 20px;
  position: absolute;
  cursor: pointer;
}
.wa-input-container .ptt-icon.record-right {
  top: 10px;
  right: 10px;
}
.wa-input-container .ptt-icon.record-left {
  height: 25px;
  top: 6px;
  opacity: 0;
  left: 10px;
  width: 20px;
}
.wa-input-container .ptt-icon.record-left.show {
  opacity: 1;
}
.wa-input-container .ptt-icon.record-left.small {
  height: 20px;
  width: 15px;
  top: 9px;
  left: 12px;
}
.wa-input-container .ptt-icon.record-left.record-start {
  -webkit-transition: opacity, 500ms;
  -moz-transition: opacity, 500ms;
  -ms-transition: opacity, 500ms;
  -o-transition: opacity, 500ms;
  transition: opacity, 500ms;
  -webkit-animation: shine 1s infinite 750ms;
  -moz-animation: shine 1s infinite 750ms;
  -ms-animation: shine 1s infinite 750ms;
  -o-animation: shine 1s infinite 750ms;
  animation: shine 1s infinite 750ms;
}
.wa-input-container .ptt-icon.record-left.record-delete {
  -webkit-animation: jump 2s 1 250ms forwards;
  -moz-animation: jump 2s 1 250ms forwards;
  -ms-animation: jump 2s 1 250ms forwards;
  -o-animation: jump 2s 1 250ms forwards;
  animation: jump 2s 1 250ms forwards;
}
.wa-input-container .ptt-icon.emoticon {
  top: 10px;
  left: 10px;
}
.wa-input-container .ptt-icon svg {
  height: inherit;
  width: inherit;
}
.wa-input-container .ptt-icon svg .record-icon {
  fill: #858583;
}
.wa-input-container .ptt-icon svg .record-icon-red {
  fill: #ff3314;
}
.hide {
  opacity: 0;
}
@keyframes swipe {
  from {
    background-position: 150px;
  }
  to {
    background-position: -150px;
  }
}
@-moz-keyframes swipe {
  from {
    background-position: 150px;
  }
  to {
    background-position: -150px;
  }
}
@-webkit-keyframes swipe {
  from {
    background-position: 150px;
  }
  to {
    background-position: -150px;
  }
}
@keyframes shine {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  61% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes shine {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  61% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes shine {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  61% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes jump {
  0% {
    top: 9px;
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    top: -140px;
    -webkit-transform: rotate(360deg);
    opacity: 1;
  }
  90% {
    top: 9px;
    -webkit-transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    top: 30px;
    -webkit-transform: rotate(360deg);
    opacity: 0;
  }
}
